<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
all_news
{% endblock title %}


{% block content %}
    <h1>Все Новости</h1>
    <h1>Всего новостей: {{ all_news|length }}</h1>
    <hr>
    {% if all_news %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью</td>
            </tr>
            {% for Post in all_news %}
            <tr>
                <td>{{ Post.title|censor }}</td>
                <td>{{ Post.dateCreation|date:'d M Y' }}</td>
                <td>{{ Post.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Отсутствие новостей, тоже хорошая новость!</h2>
    {% endif %}
{% endblock content %}
