{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
search
{% endblock title %}


{% block content %}
    <h1>Поиск новостей</h1>
    <h1>Всего новостей: {{ search|length }}</h1>
    <hr>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
    <hr>
{% if not request.GET %}
    <h2>Введите данные для поиска</h2>
{% else %}
    {% if search %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью</td>
                {% if perms.news.change_post or perms.news.delete_post %}
                <td>Действия</td>
                {% endif %}
            </tr>
            {% for Post in search %}
            <tr>
                <td><a href="{% url 'post_detail' Post.pk %}"> {{ Post.title|censor }}</a></td>
                <td>{{ Post.dateCreation|date:'d M Y' }}</td>
                <td>{{ Post.text|truncatewords:20|censor }}</td>
                <td>
                    {% if perms.news.change_post %}
                    <a href="{% url 'news_edit' pk=Post.id %}">Изменить</a>
                    {% endif %}
                    {% if perms.news.delete_post %}
                    <a href="{% url 'news_delete' Post.id %}">Удалить</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Отсутствие новостей, тоже хорошая новость!</h2>
    {% endif %}
{% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
