{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
search
{% endblock title %}


{% block content %}
    <h1>Поиск новостей</h1>
    <h1>Всего новостей: {{ search|length }}</h1>
    <hr>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value="Найти" />
   </form>
    <hr>
{% if not request.GET %}
    <h2>Введите данные для поиска</h2>
{% else %}
    {% if search %}
        <table>
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Превью</td>
            </tr>
            {% for Post in search %}
            <tr>
                <td>{{ Post.title|censor }}</td>
                <td>{{ Post.dateCreation|date:'d M Y' }}</td>
                <td>{{ Post.text|truncatewords:20|censor }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Отсутствие новостей, тоже хорошая новость!</h2>
    {% endif %}
{% endif %}

    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}
